@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-100DK:#0F3460;
    --primary-200DK:#435d8e;
    --primary-300DK:#a3baf1;
    --accent-100DK:#0F3460;
    --accent-200DK:#a3baf1;
    --text-100DK:#FFFFFF;
    --text-200DK:#e0e0e0;
    --bg-100DK:#1A1A2E;
    --bg-200DK:#29293e;
    --bg-300DK:#424057;
}

.light-mode {
    --primary-100:#66B3FF;
    --primary-200:#4196e0;
    --primary-300:#00589a;
    --accent-100:#99CCFF;
    --accent-200:#336d9b;
    --text-100:#333333;
    --text-200:#5c5c5c;
    --bg-100:#E6F2FF;
    --bg-200:#dce8f5;
    --bg-300:#b4bfcc;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.containers {
    background-color: var(--bg-300DK);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.navbar {
    background-color:var(--accent-100DK);
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    align-items: center;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}